<div class="login">
  <div class="card wrapper">
    <div class="title uk-animation-slide-left-medium">
      <h2>Airbus Expert</h2>
      <h3>Sistema de diagnóstico.</h3>
    </div>
    <div class="content uk-animation-slide-right-medium">
      <div class="loading" *ngIf="loading">
        <div uk-spinner="ratio: 1"></div>
      </div>

      <div class="login-error" *ngIf="error != ''" [innerText]="error"></div>

      <form class="form" (submit)="doLogin()" [formGroup]="login" novalidate>
        <div>
          <div class="group">
            <label>Identificación</label>
            <input type="text" formControlName="username" class="uk-input">
          </div>
          <div class="group">
            <label>Contraseña</label>
            <input type="password" formControlName="password" class="uk-input">
          </div>
          <div class="group-submit">
            <button type="submit" mat-raised-button color="primary">Ingresar</button>
          </div>
          <div class="reg">
            <a [routerLink]="['', 'account', 'registration']">Registrar usuario</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
